@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 152 11% 95%;
    --foreground: 152 5% 7%;
    --card: 152 11% 90%;
    --card-foreground: 152 5% 10%;
    --popover: 152 11% 95%;
    --popover-foreground: 152 95% 7%;
    --primary: 152 58% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 11% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 114 11% 85%;
    --muted-foreground: 152 5% 35%;
    --accent: 114 11% 80%;
    --accent-foreground: 152 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 152 5% 90%;
    --border: 152 20% 50%;
    --input: 152 20% 18%;
    --ring: 152 58% 34%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 152 11% 7%;
    --foreground: 152 5% 90%;
    --card: 152 11% 7%;
    --card-foreground: 152 5% 90%;
    --popover: 152 11% 5%;
    --popover-foreground: 152 5% 90%;
    --primary: 152 58% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 11% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 114 11% 15%;
    --muted-foreground: 152 5% 60%;
    --accent: 114 11% 15%;
    --accent-foreground: 152 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 152 5% 90%;
    --border: 152 20% 18%;
    --input: 152 20% 18%;
    --ring: 152 58% 34%;
    --radius: 0.3rem;
  }
}

/* @layer base {
  :root {
    --background: 206 19% 95%;
    --foreground: 206 5% 10%;
    --card: 206 19% 90%;
    --card-foreground: 206 5% 15%;
    --popover: 206 19% 95%;
    --popover-foreground: 206 95% 10%;
    --primary: 206 69% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 19% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 168 19% 85%;
    --muted-foreground: 206 5% 35%;
    --accent: 168 19% 80%;
    --accent-foreground: 206 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 206 5% 90%;
    --border: 206 20% 50%;
    --input: 206 20% 18%;
    --ring: 206 69% 34%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 206 19% 10%;
    --foreground: 206 5% 90%;
    --card: 206 19% 10%;
    --card-foreground: 206 5% 90%;
    --popover: 206 19% 5%;
    --popover-foreground: 206 5% 90%;
    --primary: 206 69% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 19% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 168 19% 18%;
    --muted-foreground: 206 5% 60%;
    --accent: 168 19% 18%;
    --accent-foreground: 206 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 206 5% 90%;
    --border: 206 20% 18%;
    --input: 206 20% 18%;
    --ring: 206 69% 34%;
    --radius: 0.3rem;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
