---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="What I do">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      <p class="pb-2 pt-2">📍 Stuttgart, Germany</p>
      Things I work with:
      <ul class="list-inside list-disc">
        <li>BERT & LLMs</li>
        <li>Docker and Kubernetes</li>
        <li>Python</li>
        <li>Typescript</li>
        <li>MERN Stack</li>
        <li>Neural Networks</li>
        <li>Linguistics & NLP</li>
        <li>Vectors and RAG</li>
        <li>Azure and cloud systems</li>
        <li>CI/CD and DevSecOps</li>
        <li>Databricks</li>
        <li>React Native and Android</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      After my long and thorough experience with full-stack and python
      development, I am now focusing on AI and ML, with a strong emphasis on NLP
      and cloud-based LLMs.
    </p>
  </div>
</Card>
