---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="What I do">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      📍 Stuttgart, Germany
      <br />
      <br />
      Things I work with:
      <ul class="list-inside list-disc">
        <li>Python + Flask</li>
        <li>Typescript</li>
        <li>MERN - MongoDB, Express, React, Node</li>
        <li>Kotlin + React Native</li>
        <li>Databricks</li>
        <li>Neural Networks</li>
        <li>Linguistics & NLP</li>
        <li>RAG LLMs & Langchain</li>
        <li>AWS/GCP/Azure</li>
        <li>CI/CD and DevSecOps</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      After my long and thorough experience with full-stack and python
      developement, I am now focusing on AI and ML, with a strong emphasis on
      NLP and cloud-based LLMs.
    </p>
  </div>
</Card>
