---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Blog">
  <div class="flex flex-col gap-2">
    <p class="pt-1 text-sm font-light">
      Update: The database for the blog got corrupted and reset, so I am working
      on restoring them.
    </p>
    <p class="pt-1 text-sm font-light">
      I write sometimes. Check me out <a
        class="text-sm text-primary"
        href="https://blog.anuragparida.com">here.</a
      >
    </p>
    <p class="text-sm font-light">
      Thank you for checking out my website. Reach out to me at
      <a class="text-sm text-primary" href="mailto:hi@anuragparida.com"
        >hi[at]anuragparida.com</a
      >.
    </p>
  </div>
</Card>
