---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Blog">
  <div class="flex flex-col gap-2">
    <p class="pt-1 text-sm font-light">
      I write sometimes.
      <a
        class="text-sm text-primary"
        href="https://blog.anuragparida.com">Read the blog →</a
      >
    </p>
  </div>
</Card>
