---
import { FileDown } from 'lucide-react'
import Card from '../Card.astro'
import { Button } from '../ui/button'

const PDF = '/anuragparida-CV-English.pdf'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="CV">
  <div class="mt-4 flex w-full justify-center">
    <div
      class="card card-compact md:w-112 lg:w-128 w-96 gap-2 border-[oklch(var(--p))] transition-all"
    >
      <!-- <figure>
        <object data={PDF} type="application/pdf" width="100%"></object>
      </figure> -->
      <img
        src="/cvss.png"
        class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none rounded opacity-50 shadow md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
        alt="picture of CV"
      />
      <div class="mt-4 flex flex-col gap-2">
        <p class="text-sm text-muted-foreground">
          Download in English below. For a German version, please reach out to
          me.
        </p>
        <div class="card-actions mt-2 flex w-full items-center justify-center">
          <a target="_blank" href={PDF}>
            <Button>
              <span class="mr-2">Download resume</span>
              <FileDown />
            </Button>
          </a>
        </div>
      </div>
    </div>
  </div>
</Card>
