---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Outside Work">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I love travelling and video gaming. Techno, music, food. Bouldering, table
      tennis and Waltz.
    </p>
  </div>
</Card>
