---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { PROJECTS } from '../../lib/constants'
import { ExternalLink } from 'lucide-react'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Projects">
  <div class="mt-2 space-y-4">
    {
      PROJECTS.slice(0, 3).map((exp) => (
        <div>
          <a class="text-sm text-primary" href={exp.link ?? ''}>
            <h3 class="text-lg font-semibold">{exp.title}</h3>
          </a>
          <p class="text-sm font-light">{exp.description}</p>
        </div>
      ))
    }
    <a href="/projects">
      <Button variant="link" className="mt-2 pl-0"
        ><ExternalLink /><span class="ml-2">View More</span>
      </Button>
    </a>
  </div>
</Card>
