---
import Card from '../Card.astro'
---

<div class="flex items-center md:col-span-1 md:row-span-1">
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/3yyUCi2aug4daXsYQa4x1L?utm_source=generator&theme=0"
    width="100%"
    class="h-[152px] md:h-[352px]"
    style="border:0; overflow:hidden;"
    scrolling="no"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</div>
