---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Spotify">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">EMBED SPOTIFY FAV SONG HERE</p>
  </div>
</Card>
